.page__section_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #3b85f4 10%, #001aff 100%);

  .page__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .box2 {
    position: relative;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
  }
}
.page__text {
  display: flex;
  color: white;
  flex-direction: column;
}

.title-yellow {
  font-size: calc(16px + 8 * (100vw - 320px) / 880);
  color: #ffd900;
  padding: 10px 0;
  white-space: nowrap;
}

.title-big2 {
  font-size: calc(18px + 10 * (100vw - 320px) / 880);
  margin-bottom: 10px;
  font-weight: bold;
}

.title-medium {
  font-size: calc(16px + 8 * (100vw - 320px) / 880);
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}

.text-aboutus {
  font-size: calc(14px + 6 * (100vw - 320px) / 880);
  line-height: 1.5;
  max-height: none;
  /* Remove max-height to allow full text visibility */
  overflow: hidden;
  text-align: left;
  padding: 10px 0;
}

.link {
  color: #ffd700;
  font-size: calc(14px + 6 * (100vw - 320px) / 880);
  margin-top: 10px;
}
